<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cn.apeius.view.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginCl</servlet-name>
    <servlet-class>cn.apeius.controller.LoginCl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MainFrame</servlet-name>
    <servlet-class>cn.apeius.view.MainFrame</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManageUsers</servlet-name>
    <servlet-class>cn.apeius.view.ManageUsers</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteCl</servlet-name>
    <servlet-class>cn.apeius.controller.DeleteCl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ok</servlet-name>
    <servlet-class>cn.apeius.view.ok</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>error</servlet-name>
    <servlet-class>cn.apeius.view.error</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCl</servlet-name>
    <servlet-class>cn.apeius.controller.AddCl</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCl</servlet-name>
    <url-pattern>/LoginCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainFrame</servlet-name>
    <url-pattern>/MainFrame</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageUsers</servlet-name>
    <url-pattern>/ManageUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCl</servlet-name>
    <url-pattern>/DeleteCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ok</servlet-name>
    <url-pattern>/ok</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCl</servlet-name>
    <url-pattern>/AddCl</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
